doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title=site.title
        meta(name="description", content=meta.description)
        meta(property="og:title" content=meta.title)
        meta(property="og:description" content=meta.description)
        meta(property="og:url" content=meta.url)
        meta(property="og:image" content=meta.image)
        meta(name="twitter:card" content="summary_large_image")
        meta(name="viewport", content="width=device-width")
        meta(name="theme-color" content="")
        link(rel="stylesheet", href="./style/main.pcss")
        link(rel="shortcut icon" href="/media/ico-favicon.png" type="image/x-icon")
        //- link(rel="preload" href="" as="")
        script(defer src="./script/main.js")
        script(defer src="https://identity.netlify.com/v1/netlify-identity-widget.js")

    body(class="text-base")
        div.container.mx-auto

            //- header
            header(id="header-main" class="bg-cover lg:border-b-16 border-teal")
                nav(id="nav-main" class="uppercase font-bold")
                    each item in nav.main
                        a(href=item.href class="text-white hover:text-teal")= item.text
                img(src="/media/logo-eitrmacademy.svg" alt="EIT RawMaterials Academy")
                div(id="cta")
                    h1(class="text-white text-5xl leading-16 font-bold")= header.title
                    div(class="text-white text-4xl leading-14")= header.subtitle
                    a(id="" class="button" href=header.cta.href)= header.cta.text

            //- main section
            main(class="")
                section(id="about" class="")
                    h2(class="text-3xl leading-12 text-blue overline overline-blue")= about.title
                    p(class="text-teal text-xl leading-11")= about.intro
                    p(class="")= about.body

                section(id="questions" class="")
                    each question in questions
                        div(class="text-white bg-teal")
                            h3(class="font-bold text-3xl leading-12 overline overline-white")= question.q
                            p= question.a
                        div
                            img(src=question.image alt="")

                section(id="course" class="")
                    div(id="at-a-glance" class="")
                        h2(class="text-3xl leading-12 text-blue overline overline-blue")= at_a_glance.title
                        each item in at_a_glance.properties
                            div !{item.title}
                            div
                                img(src=item.image)
                        div !{at_a_glance.footnote}

                    div(id="overview" class="")
                        h2(class="text-3xl leading-12 text-blue overline overline-blue")= overview.title
                        p(class="intro")= overview.intro
                        ul
                            each prop in overview.properties
                                li
                                    div= prop.term
                                    if prop.deed
                                        div= prop.deed
                                    if prop.list
                                        ul
                                            each item in prop.list
                                                li
                                                    if item.title
                                                        div= item.title
                                                    if item.intro
                                                        div= item.intro
                                                    if item.items
                                                        ul
                                                            each subitem in item.items
                                                                li= subitem


                section(id="modules" class="")
                    div(id="modules-intro" class="bg-teal text-white")
                        h2(class="text-3xl leading-12 overline overline-white")= discover_modules.title
                        p(class="intro")= discover_modules.intro
                    for level in collections.levels
                        if level.modules
                            div
                                h2(class="text-3xl")= level.title
                                ul(class="")
                                    for mod in level.modules_data
                                        li
                                            div
                                                div= mod.title
                                                div= mod.summary
                                            img(src='media'+mod.icon alt=mod.title)

                section(id="contact" class="")

                section(id="partners" class="")


            //- Footer
            footer.bg-blue.text-white.px-4.pt-12.pb-8
                div.max-w-6xl.mx-auto
                    div(class="sm:flex")
                        //- Contact
                        div(class="sm:w-1/2 md:w-1/3 lg:w-1/4")
                            h4.mb-4 #{footer.contact}
                            div #{site.company}
                            div
                                - let href = `mailto:${site.email}`
                                a(href=href class="text-white hover:text-green umami--click--footer-email") #{site.email}
                        //- Social Media
                        div(class="sm:w-1/2 md:w-1/3 lg:w-1/4 mt-8 sm:mt-0")
                            h4.mb-4 #{footer.connect}
                            ul.list-none
                                each url, platform in site.links.social
                                    li.inline.text-3xl.-ml-1.mr-3
                                        - let icon = `<span class="icon-${platform}"></span>`
                                        - let eventClass = 'umami--click--' + platform
                                        a(href=url target="_blank" rel="noopener" aria-label=platform class=eventClass + " text-white hover:text-teal") !{icon}
                    div(class='lg:flex flex-row-reverse justify-between items-end')
                        //- Logo
                        div(class="lg:w-1/4 py-8 sm:pt-8 sm:pb-12 lg:py-0")
                            a(href="https://eitrawmaterials.eu/eit-rm-academy/" target="_blank" rel="noopener")
                                img(src="/media/logo-eitrmacademy.svg" alt="EIT RawMaterials Academy")
                        //- Service Links
                        div#service-links
                            ul.font-bold.uppercase
                                li.inline-block
                                    a(href=site.links.privacy_policy target="_blank" rel="noopener" class="text-white hover:text-green icon-arrow-right mr-8 umami--click--privacy") #{footer.privacy_policy}
                                li.inline-block
                                    a(href=site.links.imprint target="_blank" rel="noopener" class="text-white hover:text-green icon-arrow-right mr-8 umami--click--imprint") #{footer.imprint}
