doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title=site.title
        meta(name="description", content=meta.description)
        meta(property="og:title" content=meta.title)
        meta(property="og:description" content=meta.description)
        meta(property="og:url" content=meta.url)
        meta(property="og:image" content=meta.image)
        meta(name="twitter:card" content="summary_large_image")
        meta(name="viewport", content="width=device-width")
        meta(name="theme-color" content="")
        link(rel="stylesheet", href="./style/main.pcss")
        link(rel="shortcut icon" href="/media/ico-favicon.png" type="image/x-icon")
        // link(rel="preload" href="" as="")
        script(defer src="./script/main.js")
        script(defer src="https://identity.netlify.com/v1/netlify-identity-widget.js")

    body(class="text-base")
        div.container.mx-auto


            header(class="")
                nav(id="nav-main" class="")
                    each item in nav.main
                        a(href=item.href)= item.text
                img(src="/media/logo-eitrmacademy.svg" alt="EIT RawMaterials Academy")
                div(id="cta")
                    h1=header.title
                    h2=header.subtitle
                    a(id="" class="" href=header.cta.href)= header.cta.text

            main(class="")
                section(id="about" class="")
                    h2= about.title
                    p(class="intro")= about.intro
                    p(class="")= about.body

                section(id="questions" class="")
                    each question in questions
                        div
                            h3= question.q
                            p= question.a
                        div
                            img(src=question.image alt="")

                section(id="course" class="")
                    div(id="at-a-glance" class="")
                        h2= at_a_glance.title
                        each item in at_a_glance.properties
                            div !{item.title}
                            div
                                img(src=item.image)
                        div !{at_a_glance.footnote}

                    div(id="overview" class="")
                        h2= overview.title
                        p(class="intro")= overview.intro
                        ul
                            each prop in overview.properties
                                li
                                    div= prop.term
                                    if prop.deed
                                        div= prop.deed
                                    if prop.list
                                        ul
                                            each item in prop.list
                                                li
                                                    if item.title
                                                        div= item.title
                                                    if item.intro
                                                        div= item.intro
                                                    if item.items
                                                        ul
                                                            each subitem in item.items
                                                                li= subitem


                section(id="modules" class="")
                    div(id="modules-intro" class="")
                    div(id="basic-modules" class="")
                    div(id="advanced-modules" class="")
                    div(id="expert-modules" class="")

                section(id="contact" class="")

                section(id="partners" class="")


            footer(class="")
                div(id="branding" class="")

                div(id="contact-secondary" class="")

                div(id="social" class="")

                nav(id="nav-secondary" class="")
                    ul(id="" class="")
